@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{font-family: 'Mulish', sans-serif;}




.heading_contact_us{
    // margin-top: 181px;
    font-size: 52px;
    font-weight: 700;
    color: #252947;
}

.heading_here_we_are{
    margin-top: 101px;
    font-size: 22px;
    font-weight: 600;
    width: 322px;
    color: #252947;
  
}

.heading_let_us{
    font-size: 52px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    width: 322px;
    color: #252947;
}

.pockets_lorem_ipsum{
    margin-top: 32px;
    font-size: 16px;
    font-weight: 400;
    width: 537px;
    color: #252947;
}

.pockets_but_partner{
    margin-top: 40px;
    height: 64px;
    width: 270px;
    border-radius: 14px;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    color: #252947;
}

.pockets_contactus_image{
    height: 243px;
    width: 582px;
    margin-top: 66px;
}
.pockets_united_kingdom{
    margin-top: 33px;
    font-size: 22px;
}
.pockets_address{
    width: 252px;
}
.pockets_contactus_address{
    display: flex;
    color: #252947;

}

.pockets_contactus_address_2{
    margin-left: 20px;
}
.pockets_card{
    border-radius: 20px;
    box-shadow: 0px 10px 32px 0px #00000014;

}


.pockets_tabspage{
    padding-top: 100px;
    padding-left: 48px;
}


.pockets_tab1{
    font-size: 20px;
}
.pocktes_email_text{
    margin: 20px;
    margin-left: 0px;
    font-weight: 700;
    font-size: 16px;
}
.pockets_message{
    height: 128px;
    width: 474px;
    border-radius: 14px;
}


.pockets_contactus_but{
    width: 474px;
    height: 64px;
    border-radius: 14px;
}

.pocket_contactus_button{
    height: 64px;
    width: 474px;
    background-color: #252947;
    color: #ffffff;
border-radius: 14px;
font-weight: 600;
font-size: 18px;
margin-top: 86px;
}

.pockets_contact_{
    display: flex;
    justify-content: center;
}
.ant-tabs-ink-bar{
    width: 500px;
}