.pockets_login_image{
    height: 825px;
    width:625px ;
}


.pockets_main_container{
    margin-top: 99px;
    margin-left:94px;
}

.pockets_main_container_right{
    margin-left: 94px;
}

.pockets_login_heading{
    margin-top: 145px;
    font-family: Mulish;
    font-size: 32px;
}

.pockets_hints{
    font-family:Mulish ;
    font-size: 16px;
    margin-top: 16px;
   

}

.pocktes_email_text{
    margin-top: 64px;
    font-family:Mulish ;
}

.pockets_password_title{
margin-top: 32px;
font-family:Mulish ;
}
.pocket_login_button{
    width: 403px;
    height: 64px;
    background-color: #252947;
    color:white;
    margin-top: 94px;
}
.pockets_email_verification{
    height: 58px;
    width: 403px;
}
.pockets_password{
    height: 58px;
    width: 403px;
    margin-top: 0px;
}
.pockets_forgot_password{
    margin-left: 295px;
   
}