.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}  
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
.HowWeHelp{
    margin-top: 100px;
    margin-bottom: 150px;

.HowWeHelp_Head{
    h1{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 52px;color: #252947;
    }
span{
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #101010;
}
}

.HowWeHelp_Card{
    width: 263px;
height: 264px;
background: #FFFFFF;
box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.08);
border-radius: 20px;
margin-top: 10px;
.HowWeHelp_num{
  display: flex;
  justify-content: space-between;
  h1{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 48px;
margin-right: 5px;
color: #E9F4FF;  }
}

h1{
    font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
color: #101010;
}
span{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 166.9%;
color: #878787;
}
}
}
.Join-Us{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    background: #F5F5F5;
.Join-Us_head{
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  color: #252947;
  margin-top: 50px;
}
.Join-Us_Image{
    margin-right: 50px;
    margin-top: 50px;
}}