.HowWeHelp{
    margin-top: 100px;
    margin-bottom: 150px;

.HowWeHelp_Head{
    h1{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 52px;color: #252947;
line-height: 1px;
    }
span{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
color:#101010;
}
}

.HowWeHelp_Card{
    width: 263px;
height: 264px;
background: #FFFFFF;
box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.08);
border-radius: 20px;
h1{
    font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
color: #101010;
}
span{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 166.9%;
color: #878787;
}
}
}
.Join-Us{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    background: #F5F5F5;
.Join-Us_head{
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 65px;
color: #252947;
}
.Join-Us_Image{
    margin-right: 50px;
    margin-top: 30px;
}}