.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}  
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
.OurPartners_head{
    span{
        font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 111%;
color: #252947;
    }
    h1{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height:  57.72px;
    margin-top: 0px;
    color: #252947;
    }
    p{
        width: 406px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 162.9%;
color: #252947;
    }
}
.OurPartners_Card{
    background: #F5F5F5;
border-radius: 20px;
width: 581px;
height: 442px;

    }
.OurPartners_image{
    display: flex;
    justify-content: space-around;
width: 581px;
div{
    margin-top: 30px;
width: 127.18px;
height: 127.18px;
margin-bottom: 100px;
background: #FFFFFF;
box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
border-radius: 16px;
}
}

.UpcomingEvents{
    margin-bottom: 120px;
    margin-top: 130px;
.UpcomingEvents_img1{
    position: relative;
    .UpcomingEvents_img2{
        position: absolute;
        top:90px;
        left: 180px;
    }
}
.UpcomingEvents_Text{
    h1{
        width: 648px;
        font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: #000000;
margin-top: 0px;
    }
    p{
        font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 166.9%;
color: #878787;
width: 510px;
    }
    img{
        margin-right: 50px;
        margin-top: 60px;    }
}
}

.Customers_head{
    h1{
        
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
text-align: center;
color: #252947;

    }
}
.Customers_Card{
    width: 593px;
    height: 353px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 20px;
.Customers_Card_head{
    display: flex;
    h1{
font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 28px;
color: #101010;
margin-bottom: 0px;
    }
span{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #878787;

}
img{
    margin-right: 25px;
}
}
.Customers_Card_para{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 166.9%;
color: #878787;
width: 521px;
}
.Customers_Card_border{
width: 576px;
height: 4px;
background: #3CDB97;
margin-left: -15px;
margin-top: 110px;
}}

